\.git
\.hg

\.DS_Store
\.project
bower_components
node_modules
npm-debug\.log

# Keep vendor and build libraries out of source.
app/js/vendor
app/js-dist
app/js-map
app/css-dist
app/css-map
test/mocha/js-dist
test/jasmine/js-dist
