/* BASE */
html {
  box-sizing: border-box;
}

// Necessary for footer
html,
body {
  height: 100%;
  // html and body elements cannot have any padding or margin
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  font-family: $serif-font;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6, p, ul, ol {
  margin-top: 0;

  font-family: inherit;
}

// Make this responsive
.epicureContainer {
  margin: 20px;
}

/**
 * Links -- add when variables added
 *
 * a {
 *   &, &:link {
 *     color: $link-color;
 *     text-decoration: none;
 *   }
 *   &:hover {
 *     color: $hover-color;
 *   }
 * }
 *
*/
