/**
RecipeDetails
*/

.Recipe {
}

.Recipe-title {
	color: black;
	font-size: 24px;
	margin-bottom: 0px;
	margin-top: 10px;
}

.Recipe-servings {

}

.Recipe-servings--altered {

}

.Recipe-instructions p {

}

/**
Ingredient specific
*/

.Recipe-ingredient {

}

.Recipe-ingredientLeft {
	font-weight: 700;
	text-align: right;
	margin-bottom: 0px;
}

.Recipe-ingredientRight {
	margin-bottom: 0px;
}

.Recipe-ingredientSubsectionTitle {

}