/* RECIPE DETAILS */
.Recipe-title {
  margin-top: 10px;
  margin-bottom: 0;

  color: black;
  font-size: 24px;
}

/* INGREDIENTS */
.Recipe-ingredientLeft {
  margin-bottom: 0;

  font-weight: 700;
  text-align: right;
}

.Recipe-ingredientRight {
  margin-bottom: 0;
}
